/*Home page black transparency width for large text size*/
.span5
{
    width: 470px\9;
}
/*Home page transparency fix */
.feature-summary
{
    background: black\9; /* ie 8 */
     filter: alpha(opacity=70); /* ie lt 8 */
}

/*This is to fix map display*/
.main-content .hero-unit 
{
    width:85%;
}


/*Issue: Pretty form uses the pseudo class :before and :after to render the CSS Radio Buttons and Checkboxes. IE8 does not use these Pseudo Classes. 
  Fix: Show the standard IE8 Radio Buttons and Checkboxes.*/
.pretty-form .radio input[type=radio],
.pretty-form .checkbox input[type=checkbox]
{
    position: static;
    left: 0;
}

.pretty-form .radio label,
.pretty-form .checkbox label
{
    padding-left: 0;
}

.pretty-form .radio label:before,
.pretty-form .checkbox label:before 
{
    display:none;
}
.pretty-form input[type="checkbox"],
.pretty-form input[type="radio"] 
{
    margin-top:5px;
}
.text-size-lrg .pretty-form input[type="checkbox"],
.text-size-lrg .pretty-form input[type="radio"] 
{
    margin-top:6px;
}
.text-size-xlrg .pretty-form input[type="checkbox"],
.text-size-xlrg .pretty-form input[type="radio"] 
{
    margin-top:12px;
}

/*Issue: Invisible link overlayed on top of the Global Header logo is not clickable because IE7 ignores containers without content or backgrounds (Transparent color does not work).
  Fix: Added a background of a transparent image.*/
.logo-link {
    background: url(images/transparent.png) repeat scroll 0 0 transparent;
}
/*Issue: The margin set on the logo does not work on IE7
  Fix: Added padding instead of margin.*/
#logo img {
    padding: 10px 0;
}